.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #2563eb;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.login-btn {
  background: #2563eb;
  color: white !important;
  padding: 10px 22px;
  border-radius: 6px;
}
